{% extends "base.html" %}

{% block content %}
<div class="form_container">
    <h1>Create Task</h1>
    <form action="{% url 'create_task' %}" method="post">
      {% csrf_token %}
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required>
  
      <label for="description">Description</label>
      <textarea id="description" name="description" required></textarea>
  
      <label for="date">Date</label>
      <input type="date" id="date" name="date" required>
  
      <button type="submit">Send</button>
    </form>
    
    <li><a href="{% url 'home' %}">Back</a></li>
  </div>
{% endblock  %}
